apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: "{{ eks_cluster_name }}"
  region: "{{ region }}"
  version: "{{ k8s_version }}"
iam:
  withOIDC: true
managedNodeGroups:
  - name: "{{ k8s_worker_nodes_group_name }}"
    instanceTypes: ["{{ k8s_worker_nodes_instance_type }}"]
    minSize: 0
    desiredCapacity: 2
    maxSize: 4
    spot: true
    iam:
      withAddonPolicies:
        autoScaler: true
        imageBuilder: true
        ebs: true
        albIngress: true
        externalDNS: true
{# gitops:
  flux:
    gitProvider: github      # required. options are github, gitlab or git
    flags:                   # required. arbitrary map[string]string for all flux args.
    # these args are not controlled by eksctl. see https://fluxcd.io/docs/get-started/ for all available flags
      owner: "gizabutler"
      repository: "eks-quickstart"
      private: "false"
      personal: "true"
      branch: "main"
      namespace: "flux-system"
      path: "clusters/cluster-12"
      team: "team1,team2" #}
